/* tag */
h1{
    font-weight: 900;
    font-size: 3.5rem ;
    line-height: 1.5;
}

body{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}

h3{
    font-weight: 800;
    font-size: 1.5rem;
}

p{
    color: #8f8f8f;
}





/* class & id */
/* title */
#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;   
}

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
    font-size: 1.2rem;
}

.button-download{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 60%;
    rotate: 25deg;
    /* transform: rotate(25deg); */
}

/* feature */
.feature-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color: #ff4c68; 
}

.feature-box{
    padding: 5%;
}