/* ------------ CSS for tag ------------ */
p{
    /* margin: 0 */
}

/* ------------ CSS for class ------------ */
/* CSS range */
.external{
    background-color:palevioletred;
}

.orderCSS{
    background-color: orangered;
}

.classP{
    background-color: olivedrab;
}

.class1P{
    background-color: olivedrab;
}

.class2P{
    font-weight: bold;
}

.overrideP{
    background-color: violet !important;
}

/* Hover */
.hoverP:hover{
    background-color: yellowgreen;
    color: white;
}

/* Div box */
.divTest{
    background-color: #489afc;
    height: auto;
    width: 30%;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    padding: 5px;
    margin: 10px ;

}

.divTest2{
    background-color: #418cff;
    height: auto;
    width: 20%;
    border: dotted;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

/* Inline div */
.inline{
    /* display: inline-block; */
    display: inline-block;
    /* float: left; */
}

.float{
    float: left;
}

.divSplit{
    background-color: palevioletred;
}

.div1{
    background-color: teal;
}

.div2{
    background-color: palegreen;
}

/* Span */
.wordDecor{
    text-decoration: underline;
}

/* Hide block */
.fade1{
    display: none;
}

.fade2{
    visibility: hidden;
}

/* Relave position */
.square{
    width: 200px;
    height: 200px; 
    background-color: red; 
}

.rectangle{
    width: 600px !important;
    height: 200px !important;
    background-color: red; 
}

.div11{
    position: relative;
}

.div12{
    background-color: blue;
    opacity: 50%;
    bottom: 160px;
    left: 40px;
    position: relative;
}

/* absolute position */
.div21{
    position: relative;
    left: 50px;
}

.div22{
    background-color: blue;
    position:absolute;
    left: 100px;
    top: -10px;
}

/* centering a div horizontal */
.divCen{
    text-align: center;
    width: 600px;
    height: 100px;
    background-color: palegreen;
    position: relative;
}

.div41{
    margin: 0 auto;
    width: 100px;
    background-color: indianred;
}

/* center a div vertical */

/* choosing font */
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p2{
    font-family: 'Nabla', cursive;
}



/* ------------ CSS for id ------------ */
#idP{
    background-color: blue;
}

/* Fixed position */
#div31{
    border: solid 5px;
    position:fixed;
    top:30%;
    left: 50%;
    display:none;
}








